[submodule "themes/hugo-nederburg-theme"]
	path = themes/hugo-nederburg-theme
	url = https://github.com/kpango/hugo-nederburg-theme
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/kpango/blog
	branch = gh-pages
